################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Prism.Core.6.1.0
/Projet.NET/obj/Debug
Projet.NET.csproj
Projet.NET.v12.suo